[user]
	name = Dimitrije Radojević
	email = me@dimitrije.website
[alias]
	g = gui
	cp = cherry-pick
	st = status -sb
	co = checkout
	df = diff
	dfc = diff --cached
	br = branch
	psuh = push
	lnc = log --pretty=format:%h\\ %s\\ [%cn]
	filelog = log -u
	dr = "!f() { git diff $1^..$1; }; f"
	diffr = "!f() { git diff $1^..$1; }; f"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue%an%Creset' --abbrev-commit
	grep = grep -Ii --recurse-submodules
	la = !git config -l | grep alias | cut -c 7-
	f = fetch
	oldest-ancestor = !zsh -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent ${1:-master}) <(git rev-list --first-parent ${2:-HEAD}) | head -1' -
[color]
	ui = true
[merge]
	tool = kdiff3
[core]
	editor = nvim
	mergeoptions = --no-edit
	autocrlf = input
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[push]
	default = simple
	recurseSubmodules = check
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[gui]
	encoding = utf-8
	gcwarning = false
[rebase]
	autoStash = true
[pull]
	rebase = true
